<div class="tooltip" #tootip>Demo</div>
<div class="pano" #pano>
</div>

<div class="p-card ">
  <div class="flex justify-content-center flex-wrap gap-3 mb-4">
    <p-button icon="pi pi-check"></p-button>
    <p-button icon="pi pi-bookmark" styleClass="p-button-secondary"></p-button>
    <p-button icon="pi pi-search" styleClass="p-button-success"></p-button>
    <p-button icon="pi pi-user" styleClass="p-button-info"></p-button>
    <p-button icon="pi pi-bell" styleClass="p-button-warning"></p-button>
    <p-button icon="pi pi-heart" styleClass="p-button-help"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</div>
